@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$primary: #c4bda1;
$secondary: #5f2c2c;
$bg-topnav: #52576a;
$bg-color: #222222;
$bg-disabled: #222222;
$text-disabled: #888888;

$body-font-size: 17px;
$border-radius: 12px;
$h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

@font-face {font-family: 'Germania';
  src: url('./assets/fonts/GermaniaOne-Regular.ttf') format('truetype');
}

@font-face {font-family: 'Praetoria';
  src:url('./assets/fonts/Praetoria D.otf') format('opentype'),
}

* {
  outline: none;
}

@import '~@primer/css/index.scss';

html, body, #app {
  text-align: center;
  background-color: $bg-topnav;
  color: white;
  font-family: 'Germania', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-color: $bg-color;background-size:cover;
  background-image:url('./assets/large-bw.png');
  min-height: 100vh;
}

h1, h2, h3, .button {
  font-family: 'Praetoria', sans-serif;
  font-weight:800;
  text-shadow:0px 1px 8px white;
}

h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
.vue-particles{
  z-index:0;
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;}

.bg-topnav {
  background-color: transparent;
}
.no-marg-l{margin-left:unset!important;}
.no-marg-r{margin-right:unset!important;}

nav{
  z-index:1;
  position:relative;
}

.row{
  display:flex;
  flex-flow:row;
}

.eth-img{margin: auto 2px ;}

.bg-secondary {
  background-color: $secondary;
}

.button {
  cursor: pointer;
  font-weight: bold;
  min-width: 200px;
  padding: 0 24px;
  display: inline-block;
  border: 0;

  &:disabled {
    color: $text-disabled;
    background-color: $secondary;
    border: 0;
    cursor: not-allowed;
  }
}

.bigshadow{text-shadow:0px 1px #eeeeee, 0px 2px #dddddd, 0px 3px #cccccc, 0px 4px #bbbbbb, 0px 5px #aaaaaa, 0px 6px #999999, 0px 7px #888888, 0px 8px #777777, 0px 9px #666666, 0px 10px #555555, 0px 11px #444444,0px 12px #333333, 0px 13px #222222, 0px 14px #111111;}

.button-primary {
  height: 44px;
  line-height: 42px;
  border-radius: 22px;
  font-size: 15px;
  text-transform: uppercase;
  color: $secondary;
  background-color: $primary;
}

.button-outline {
  @extend .button-primary;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.button-info {
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  font-size: 15px;
  color: white;
  background-color: $secondary;
  min-width: auto;
}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  border-radius: 6px;
  background-color: $secondary;

  &.active {
    box-shadow: inset 0 0 0 1px $primary;
  }
}

.logo{
  height:48px;
  margin:auto 2px;
  filter:invert(1);
}

.login-bullet {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: $primary;
  display: inline-block;
  margin-bottom: -2px;
}

.mainnav {
  height: 58px;
  line-height: 0;
  border-radius: 29px;
  overflow:hidden;
  border:2px solid $secondary;
  background-color: $bg-disabled;
  display: inline-block;
  box-shadow:0px 0px 10px black;

}

.button-secondary {
  height: 54px;
  line-height: 52px;
  border-radius: 27px;
  font-size: 18px;
  color: white;
  background-color: $bg-disabled;

  &.router-link-exact-active {
    color: $primary;
    background-color: $secondary;  
    position:relative;
    z-index:1;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);

  }
}

.form {
  max-width: 368px;
  margin: 0 auto;
}

.input {
  text-align: left;
  border: 1px solid white;
  background: transparent;
  outline: none;
  display: block;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  padding: 0 14px;
  border-radius: 6px;
  color: white;
  width: 100%;

  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  color: $text-disabled;
  border-color: $text-disabled;
  cursor: not-allowed;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border: 0;
  border-radius: 0;
  background-clip: padding-box;

  &:hover {
    background-color: white;
  }
}

.block {
  @extend .container-sm;
  @extend .bg-secondary;
  @extend .py-6;
  @extend .px-4;
  @extend .mb-4;
  border:2px solid $primary;
  box-shadow:0px 0px 10px black;
  border-radius:1rem;
  width:500px;height:500px;
  z-index:1;
  position:relative;
  background-color: #52576aaa;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}

.modal {
  .backdrop {
    background: transparentize($secondary, 0.4) !important;
  }

  .shell {
    @extend .block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 420px;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    border-radius: 10px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      border-radius: 9px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}

.loading-lg {
  .animation {
    border-color: transparent;
    border-right-color: $primary;
    border-width: 8px !important;
    width: 124px !important;
    height: 124px !important;
  }
}

.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}
